.logo-shuriken {
    max-width: 40px;
}

.foto {
    height: 100px;
    width: 50px;
}

.items {
    border: solid black;
}

.cards {
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}